@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
  overflow-x: hidden;
}

p {
  font-weight: 300;
  color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* Banner Section*/
.banner {
  /* Setting image parameters */
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/bg-banner.png);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #00b311;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 4px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

/* Header Section */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

/* Header with sticky class */
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
  color: #111;
}

header.sticky .navigation li a {
  color: #111;
}

header .logo {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 2em;
}

header .logo span {
  color: #00b311;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li + li {
  margin-left: 30px;
}

header .navigation li a {
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}

header .navigation li a:hover {
  color: #00b311;
}

/* About Section and fixed params */
section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.title-text {
  color: 111;
  font-size: 2em;
  font-weight: 300;
}

.title-text span {
  color: #00b311;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  /* Setting div image parameters */
  position: relative;
  width: 100%;
  /* min-height: 300%; */
  height: 100%;
}

.row .col50 .imgBx img {
  /* Setting image parameters */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* Menu Section */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  border-radius: 8px;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
}

.menu .content .box:hover {
  transform: scale(1.1);
}

.menu .content .box .imgBx {
  /* Setting div image parameters */
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .imgBx img {
  /* Setting image parameters */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

/* Experts Section */
.experts .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.experts .content .box {
  width: 250px;
  margin: 15px;
}

.experts .content .box .imgBx {
  /* Setting div image parameters */
  position: relative;
  width: 100%;
  height: 300px;
}

.experts .content .box .imgBx img {
  /* Setting image parameters */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.experts .content .box .text {
  padding: 15px 0 5px;
}

.experts .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

/* Testimonials Section */
.testimonials {
  background: url(./img/bg-testimonials.png);
  background-size: cover;
}

.white .title-text,
.white p {
  color: #fff;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}

.testimonials .content .box .imgBx {
  /* Setting div image parameters */
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgBx img {
  /* Setting image parameters */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #00b311;
  font-weight: 600;
}

/* Contact Section */
.contact {
  background: url(./img/bg-contact.png);
  background-size: cover;
}

.contact-form {
  padding: 75px 50px;
  background: #fff;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.15);
  max-width: 500px;
  margin-top: 50px;
  border-radius: 8px;
}

.contact-form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  width: 100%;
  border: 1px solid #555;
  border-radius: 4px;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 1em;
  font-weight: 300;
  resize: none;
}

.contact-form .input-box input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #00b311;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.contact-form .input-box input[type="submit"]:hover {
  transform: scale(1.05);
  letter-spacing: 6px;
}

/* Copyright Section */
.copyright-text {
  padding: 10px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}

.copyright-text p {
  color: #333;
}

.copyright-text a {
  color: #00b311;
  font-weight: 500;
}

@media (max-width: 991px) {
  /* Setting padding of header tag */
  header,
  header.sticky {
    padding: 10px 20px;
  }

  /* Setting navigation class */
  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 67px);
    position: fixed;
    top: 67px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li + li {
    list-style: none;
    margin-left: 0;
    margin-top: 1.5rem;
  }

  header .navigation li a {
    text-decoration: none;
    color: #111;
    font-size: 1.6em;
    font-weight: 300;
  }

  /* Setting menuToggle class */
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./img/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background: url(./img/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  header.sticky .menuToggle {
    filter: invert(

    ); /* Function inverts the color samples in the input image */
  }

  /* Setting padding of section tag */
  section {
    padding: 20px;
  }

  /* Setting font-size */
  .banner .content h2 {
    font-size: 2em;
  }

  /* Setting default classes */
  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }

  /* Menu Section */
  .menu .content {
    margin-top: 20px;
  }

  .menu .content .box {
    margin: 10px;
  }

  .menu .content .box .imgBx {
    height: 260px;
  }

  /* Title Section */
  .title-text {
    text-align: center;
    line-height: 1.5em;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  /* Testimonials Section */
  .testimonials .content .box {
    margin: 10px;
    padding: 20px;
  }

  /* Contact Section */
  .contact-form {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #contact {
    padding: 100px 20px;
  }
}
