@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Banner*/
.banner {
  /*Setting image parameters*/
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./img/bg.jpg);
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
}

.banner .content p {
  font-size: 1em;
  color: #fff;
}

.btn {
  font-size: 1em;
  color: #fff;
  background: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

/*Header*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

/*Header with sticky class*/
header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo {
  color: #111;
}

header.sticky .navigation li a {
  color: #111;
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
}

header .logo span {
  color: #ff0157;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li + li {
  margin-left: 30px;
}

header .navigation li a {
  color: #fff;
  font-weight: 300;
  transition: 0.3s;
}

header .navigation li a:hover {
  color: #ff0157;
}

/*About and fixed params*/
section {
  padding: 100px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.title-text {
  color: 111;
  font-size: 2em;
  font-weight: 300;
}

.title-text span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  /*Setting div image parameters*/
  position: relative;
  width: 100%;
  /*min-height: 300%;*/
  height: 100%;
}

.row .col50 .imgBx img {
  /*Setting image parameters*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*Menu*/
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
  transition: 0.4s;
}

.menu .content .box:hover {
  transform: scale(1.05);
}

.menu .content .box .imgBx {
  /*Setting div image parameters*/
  position: relative;
  width: 100%;
  height: 300px;
  transition: 0.4s;
}

.menu .content .box .imgBx img {
  /*Setting image parameters*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

/*Experts*/
.experts .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.experts .content .box {
  width: 250px;
  margin: 15px;
}

.experts .content .box .imgBx {
  /*Setting div image parameters*/
  position: relative;
  width: 100%;
  height: 300px;
}

.experts .content .box .imgBx img {
  /*Setting image parameters*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experts .content .box .text {
  padding: 15px 0 5px;
}

.experts .content .box .text h3 {
  font-weight: 400;
  color: #111;
}

/*Testimonials*/
.testimonials {
  background: url(./img/bg2.jpg);
  background-size: cover;
}

.white .title-text,
.white p {
  color: #fff;
}

.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.testimonials .content .box .imgBx {
  /*Setting div image parameters*/
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials .content .box .imgBx img {
  /*Setting image parameters*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials .content .box .text {
  text-align: center;
}

.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
}

.testimonials .content .box .text h3 {
  margin-top: 20px;
  color: #111;
  font-size: 1em;
  color: #ff0157;
  font-weight: 600;
}
